/_ReSharper.SmileXmlSerialization
*/bin
*/obj
*/*.user
/SmileXmlSerialization.sln.DotSettings.user
/SmileXmlSerialization.suo
/SmileSerialization.sln.DotSettings.user
/.nuget/NuGet.Rabbit.SerializationMaster/bin
/.nuget/NuGet.Rabbit.SerializationMaster/obj
/.nuget/NuGet.Rabbit.SerializationMaster.JsonNet/bin
/.nuget/NuGet.Rabbit.SerializationMaster.JsonNet/obj
/.nuget/NuGet.Rabbit.SerializationMaster.ServiceStack/bin
/.nuget/NuGet.Rabbit.SerializationMaster.ServiceStack/obj
/.nuget/NuGet.Rabbit.SerializationMaster.Web/bin
/.nuget/NuGet.Rabbit.SerializationMaster.Web/obj
/packages
/Tests/ServiceStackSerializationImplTest/bin
/Tests/ServiceStackSerializationImplTest/obj
/Tests/TestPackageSerializationMaster/bin
/Tests/TestPackageSerializationMaster/obj
/Tests/TestPackageSerializationMasterJsonNet/bin
/Tests/TestPackageSerializationMasterJsonNet/obj
/Tests/TestPackageSerializationMasterWeb/bin
/Tests/TestPackageSerializationMasterWeb/obj
/Serialization.sln.DotSettings.user
/Serialization.v11.suo
/Tests/TestPackageSerializationMasterWeb/TestPackageSerializationMasterWeb.csproj.user
