<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org" />
    <add key="NuGet private package source" value="http://localhost:888/NuGetServerWebApplication/" />
  </packageSources>
</configuration>